// menu item
.link {
    display: inline-block;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

// menu title
.title {
    text-align: center;
}

.logo {
    display: flex;
    padding: 4px 0;
    background-color: #F44336;
    text-align: center;
}
